<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680642491416-si1vv15uh5k5jcurhlj2jevncmbumm0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680642491416-si1vv15uh5k5jcurhlj2jevncmbumm0f</string>
	<key>API_KEY</key>
	<string>AIzaSyD6gjZ3TEy4wFTdq_a1wO9FKJ3IF_oXHyU</string>
	<key>GCM_SENDER_ID</key>
	<string>680642491416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.m2m</string>
	<key>PROJECT_ID</key>
	<string>m2mapp-91014</string>
	<key>STORAGE_BUCKET</key>
	<string>m2mapp-91014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680642491416:ios:554be72f6089d136807f6d</string>
</dict>
</plist>